@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --mainGrey: #f5f5f5;
    --mainWhite: #fff;
    --mainBlack: #3f3f3f;
    --darkGrey: #8e8e8e; 
    --darkRed: #f15025;
    --darkGreen: #4f7942;
    --green: green; 
}

body {
    font-family: 'Quicksand', 'san-serif';
    background:  var(--mainGrey);
    color:var(--mainBlack);   
}

.code {
    background:var(--darkGreen) ;
    display: inline-block;
    padding: 1rem;
    font-size: 1.25rem;
    color: var(--mainWhite);
    margin: 2rem 0;
}
.likes{
    color: var(--green);
    margin: 3rem 0;
}
